form {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  /* max-width: 600px; */
  background: #f7f7f7;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

h2 {
  margin-top: 70px;
  text-align: center;
}

button detail {
  margin-top: 80px;
  margin-left: 50px;
  background-color: #3498db;
}

h3 {
  /* margin-left: 50px;
  margin-top: 30px; */
  font-size: 18px;
  /* text-align: right; */
}

/* button {
  margin-top: 80px;
  margin-left: 50px;
  background-color: #3498db;
} */

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input[type="text"],
form input[type="tel"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
}

form .form-check input[type="checkbox"],
form a {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 1em 1em;
  font-family: Arial, sans-serif;
  margin-left: 70px;
}

th {
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  font-weight: bold;
  padding: 12px 15px;
  border: 1px solid #ddd;
}

td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:last-child {
  text-align: center;
}

.edit-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
}

.delete-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.8;
}